<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue/vue.min.js"></script>
</head>
<body>
<!--实现再body中显示名称-->
<div id="app">
    <!--{{name}}-->
    <span v-text="name"></span>
    <input v-model="num1">+
    <input v-model="num2">=
    <span v-text="Number.parseInt(num1)+Number.parseInt(num2)"></span>
    <!--{{Number.parseInt(num1)+Number.parseInt(num2)}}-->
    <button>计算</button>
</div>

</body>
<script>
    var VM = new Vue({
        el:'#app',
        data:{
            name:'黑马程序员:',
            num1:2 ,
            num2:3
        },
        methods: {
            change:function(){
                this
            }
        }
    })
</script>
</html>